.header{
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .header p{
  
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
  }